.tree-test-page {
  height: 100%;
  width: 100%;

  .tree-container {
    width: 250px;
    height: 90vh;
    margin: 0 auto;
    border: 1px solid #03d1ff;
  }

  .test-option-container {
    position: absolute;
    width: 500px;
    top: 20px;
    left: 20px;

    &>div {
      display: flex;
      width: 100%;
      line-height: 30px;
      margin-bottom: 10px;
      flex-wrap: wrap;

      .el-input {
        margin-right: 10px;

        &.is-short {
          width: 150px;
        }
      }
    }
  }
}