.node-more-btn-container {
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  :deep(.el-button) {
    line-height: 26px;
    height: 26px;

    span {
      z-index: 1;
    }
  }
}